In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
# from categorical_encoders import OneHotCategoricalEncoder

In [5]:
data = pd.read_csv('/Users/mattmastin/Desktop/titanic.csv',
                  usecols=['sex', 'embarked', 'cabin', 'survived'])

In [6]:
data.head()

   survived     sex cabin embarked
0         1  female    B5        S
1         1    male   C22        S
2         0  female   C22        S
3         0    male   C22        S
4         0  female   C22        S

In [7]:
data['cabin'] = data['cabin'].str[0]
data.head()

   survived     sex cabin embarked
0         1  female     B        S
1         1    male     C        S
2         0  female     C        S
3         0    male     C        S
4         0  female     C        S

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    data[['sex', 'embarked', 'cabin']],
    data['survived'],
    test_size=0.3, 
    random_state=0)

X_train.shape, X_test.shape

((916, 3), (393, 3))

In [9]:
X_train['sex'].unique()

array(['female', 'male'], dtype=object)

In [10]:
X_train['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [11]:
X_train['cabin'].unique()

array([nan, 'E', 'C', 'D', 'B', 'A', 'F', 'T', 'G'], dtype=object)

In [12]:
tmp = pd.get_dummies(X_train['sex'])
tmp.head()

      female  male
501        1     0
588        1     0
402        1     0
1193       0     1
686        1     0

In [13]:
pd.concat([X_train['sex'],
          pd.get_dummies(X_train['sex'])], axis=1).head()

         sex  female  male
501   female       1     0
588   female       1     0
402   female       1     0
1193    male       0     1
686   female       1     0

In [14]:
tmp = pd.get_dummies(X_train['embarked'])
tmp.head()

      C  Q  S
501   0  0  1
588   0  0  1
402   1  0  0
1193  0  1  0
686   0  1  0

In [15]:
tmp = pd.get_dummies(X_train)
print(tmp.shape)
tmp.head()

(916, 13)

,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,cabin_A,cabin_B,cabin_C,cabin_D,cabin_E,cabin_F,cabin_G,cabin_T
501,1,0,0,0,1,0,0,0,0,0,0,0,0
588,1,0,0,0,1,0,0,0,0,0,0,0,0
402,1,0,1,0,0,0,0,0,0,0,0,0,0
1193,0,1,0,1,0,0,0,0,0,0,0,0,0
686,1,0,0,1,0,0,0,0,0,0,0,0,0

In [16]:
pd.get_dummies(X_train['embarked'], drop_first=True, dummy_na=True).head()

      Q  S  NaN
501   0  1    0
588   0  1    0
402   0  0    0
1193  1  0    0
686   1  0    0

In [18]:
encoder = OneHotEncoder(categories='auto',
                        drop='first', 
                        sparse=False,
                       handle_unknown='error')

encoder.fit(X_train.fillna('Missing'))

OneHotEncoder(categories='auto', drop='first', dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=False)

In [19]:
encoder.categories_

[array(['female', 'male'], dtype=object),
 array(['C', 'Missing', 'Q', 'S'], dtype=object),
 array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Missing', 'T'], dtype=object)]

In [20]:
tmp = encoder.transform(X_train.fillna('Missing'))
pd.DataFrame(tmp).head()

     0    1    2    3    4    5    6    7    8    9   10   11
0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [21]:
tmp = encoder.transform(X_test.fillna('Missing'))
pd.DataFrame(tmp).head()

     0    1    2    3    4    5    6    7    8    9   10   11
0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
2  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [23]:
data = pd.read_csv(
    '/Users/mattmastin/Desktop/houseprice.csv',
    usecols=['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice'])

data.head()

  Neighborhood Exterior1st Exterior2nd  SalePrice
0      CollgCr     VinylSd     VinylSd     208500
1      Veenker     MetalSd     MetalSd     181500
2      CollgCr     VinylSd     VinylSd     223500
3      Crawfor     Wd Sdng     Wd Shng     140000
4      NoRidge     VinylSd     VinylSd     250000

In [24]:
for col in data.columns:
    print(col, ':', len(data[col].unique()), 'labels')

Neighborhood : 25 labels
Exterior1st : 15 labels
Exterior2nd : 16 labels
SalePrice : 663 labels

In [25]:
X_train, X_test, y_train, y_test = train_test_split(
    data[['Neighborhood', 'Exterior1st', 'Exterior2nd']],
    data['SalePrice'],
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

((1022, 3), (438, 3))

In [26]:
pd.get_dummies(X_train, drop_first=True).shape

(1022, 53)

In [28]:
X_train['Neighborhood'].value_counts().sort_values(ascending=False).head(10)

NAmes      151
CollgCr    105
OldTown     73
Edwards     71
Sawyer      61
Somerst     56
Gilbert     55
NWAmes      51
NridgHt     51
SawyerW     45
Name: Neighborhood, dtype: int64

In [29]:
top_10 = [
    x for x in X_train['Neighborhood'].value_counts().sort_values(
    ascending=False).head(10).index
]

In [30]:
top_10

['NAmes',
 'CollgCr',
 'OldTown',
 'Edwards',
 'Sawyer',
 'Somerst',
 'Gilbert',
 'NWAmes',
 'NridgHt',
 'SawyerW']

In [33]:
import numpy as np

for label in top_10:
    X_train['Neighborhood' + '_' + label] = np.where(
        X_train['Neighborhood'] == label, 1, 0)
    
    X_test['Neighborhood' + '_' + label] = np.where(
        X_test['Neighborhood'] == label, 1, 0)
    
X_train[['Neighborhood'] + ['Neighborhood' + '_' + c for c in top_10]].head(10)

,Neighborhood,Neighborhood_NAmes,Neighborhood_CollgCr,Neighborhood_OldTown,Neighborhood_Edwards,Neighborhood_Sawyer,Neighborhood_Somerst,Neighborhood_Gilbert,Neighborhood_NWAmes,Neighborhood_NridgHt,Neighborhood_SawyerW
64,CollgCr,0,1,0,0,0,0,0,0,0,0
682,ClearCr,0,0,0,0,0,0,0,0,0,0
960,BrkSide,0,0,0,0,0,0,0,0,0,0
1384,Edwards,0,0,0,1,0,0,0,0,0,0
1100,SWISU,0,0,0,0,0,0,0,0,0,0
416,Sawyer,0,0,0,0,1,0,0,0,0,0
1034,Crawfor,0,0,0,0,0,0,0,0,0,0
853,NAmes,1,0,0,0,0,0,0,0,0,0
472,Edwards,0,0,0,1,0,0,0,0,0,0
1011,Edwards,0,0,0,1,0,0,0,0,0,0

In [36]:
def calculate_top_categories(df, variable, how_many=10):
    return [
        x for x in df[variable].value_counts().sort_values(
            ascending=False).head(how_many).index
    ]

def one_hot_encode(train, test, variable, top_x_labels):
    
    for label in top_x_labels:
        train[variable + '_' + label] = np.where(
            train[variable] == label, 1, 0)
        
        test[variable + '_' + label] = np.where(
            test[variable] == label, 1, 0)

In [37]:
for variable in ['Exterior1st', 'Exterior2nd']:
    top_categories = calculate_top_categories(X_train, variable, how_many=10)
    one_hot_encode(X_train, X_test, variable, top_categories)

In [38]:
X_train.head()

,Neighborhood,Exterior1st,Exterior2nd,Neighborhood_NAmes,Neighborhood_CollgCr,Neighborhood_OldTown,Neighborhood_Edwards,Neighborhood_Sawyer,Neighborhood_Somerst,Neighborhood_Gilbert,...,Exterior2nd_VinylSd,Exterior2nd_Wd Sdng,Exterior2nd_HdBoard,Exterior2nd_MetalSd,Exterior2nd_Plywood,Exterior2nd_CmentBd,Exterior2nd_Wd Shng,Exterior2nd_BrkFace,Exterior2nd_AsbShng,Exterior2nd_Stucco
64,CollgCr,VinylSd,VinylSd,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
682,ClearCr,Wd Sdng,Wd Sdng,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
960,BrkSide,Wd Sdng,Plywood,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1384,Edwards,WdShing,Wd Shng,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1100,SWISU,Wd Sdng,Wd Sdng,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [39]:
from sklearn.preprocessing import LabelEncoder

In [40]:
data.head()

  Neighborhood Exterior1st Exterior2nd  SalePrice
0      CollgCr     VinylSd     VinylSd     208500
1      Veenker     MetalSd     MetalSd     181500
2      CollgCr     VinylSd     VinylSd     223500
3      Crawfor     Wd Sdng     Wd Shng     140000
4      NoRidge     VinylSd     VinylSd     250000

In [41]:
X_train, X_test, y_train, y_test = train_test_split(
    data[['Neighborhood', 'Exterior1st', 'Exterior2nd']], # predictors
    data['SalePrice'],  # target
    test_size=0.3,  # percentage of obs in test set
    random_state=0)  # seed to ensure reproducibility

X_train.shape, X_test.shape

((1022, 3), (438, 3))

In [42]:
ordinal_mapping = {
    k: 1
    for i, k in enumerate(X_train['Neighborhood'].unique(), 0)
}

ordinal_mapping

{'CollgCr': 1,
 'ClearCr': 1,
 'BrkSide': 1,
 'Edwards': 1,
 'SWISU': 1,
 'Sawyer': 1,
 'Crawfor': 1,
 'NAmes': 1,
 'Mitchel': 1,
 'Timber': 1,
 'Gilbert': 1,
 'Somerst': 1,
 'MeadowV': 1,
 'OldTown': 1,
 'BrDale': 1,
 'NWAmes': 1,
 'NridgHt': 1,
 'SawyerW': 1,
 'NoRidge': 1,
 'IDOTRR': 1,
 'NPkVill': 1,
 'StoneBr': 1,
 'Blmngtn': 1,
 'Veenker': 1,
 'Blueste': 1}

In [43]:
X_train['Neighborhood'] = X_train['Neighborhood'].map(ordinal_mapping)
X_test['Neighborhood'] = X_test['Neighborhood'].map(ordinal_mapping)

In [44]:
X_train['Neighborhood'].head(10)

64      1
682     1
960     1
1384    1
1100    1
416     1
1034    1
853     1
472     1
1011    1
Name: Neighborhood, dtype: int64